# Configuration de l'API Cyber Dashboard
API_NAME=Cyber Dashboard API
API_HOST=127.0.0.1
API_PORT=8000
API_LOG_LEVEL=INFO

# Configuration de l'environnement de développement
API_DEV_RESPONSE_DELAY_SECONDS=0
API_DEV_RESPONSE_DELAY_PATHS=

# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres

# Clé de chiffrement
CYBER_DASHBOARD_SECRET_KEY_FILE=
CYBER_DASHBOARD_SECRET_KEY=

CYBER_DASHBOARD_VALIDATION_TIMEOUT_SECONDS=5
CYBER_DASHBOARD_VALIDATION_TEST_IP=8.8.8.8

# Url des APIs externes
OGO_BASE_URL=
SERENICITY_BASE_URL=
